<br>Get all art work details</br>
<button type="button"
  onclick="getAssetsInfo('ArtWork', cbGetAssetsInfo)">Get Art Work
</button>
<div id="assetsInfo"></div>

<br>Enter an art work ID, then click "Get Art Work" to get an individual art work details</br>
<form id="getAsset">
  Art Work ID: <input type="text" name="assetId" value=""><br><br>
  <input type="button" onclick="getAssetInfo('ArtWork', cbGetAssetInfo)" value="Get Art Work">
</form>
<div id="assetInfo"></div>

<script src="script.js"></script>
