<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Art Ledger</title>
<!-- Style sheets not currently used.
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
-->
<link href="style.css" rel="stylesheet">
</head>

<body>
  <img src="logo.png" alt="Art-Ledger Logo">

  <p>ArtLedger, an application for artists and art lovers to buy, sell and track works of art using blockchain technology.</p>
  <h3><a href="artists.html">Work with artists</a></h3>
  <h3><a href="owners.html">Work with art owners</a></h3>
  <h3><a href="artwork.html">Work with art works</a></h3>
  <h3>Sell and auction art work:</h3>
  <h4><a href="sell.html">Sell art work</a></h4>
  <h4><a href="auction.html">Auction art work</a></h4>
  <h3><a href="query.html">Perform queries</a></h3>
  <h3><a href="admin.html">Network admin</a></h3>

</body>

</html>
