<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Art Ledger</title>
<!-- Style sheets not currently used.
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
-->
</head>

<body>
  <img src="logo.png" alt="Art-Ledger Logo">

  <p>Art-Ledger, an application for artists and art lovers to buy, sell and track works of art using blockchain technology.</p>

  <p><a href="artists.html">Work with artists</a></p>
  <p><a href="owners.html">Work with art owners</a></p>
  <p><a href="artwork.html">Work with art works</a></p>
  <p><a href="transactions.html">Perform transactions</a></p>

</body>

</html>
