<br>Get all owner details</br>
<button type="button"
  onclick="getParticipantsInfo('Owner', cbGetParticipantsInfo)">Get Owners
</button>
<div id="participantsInfo"></div>

<br>Enter an owner ID, then click "Get Owner" to get an individual owner details</br>
<form id="getParticipant">
  Owner ID: <input type="text" name="participantId" value=""><br><br>
  <input type="button" onclick="getParticipantInfo('Owner', cbGetParticipantInfo)" value="Get Owner">
</form>
<div id="participantInfo"></div>

<br>Enter owner details, then click "Create Owner" to create owner details</br>
<form id="newParticipant">
  Owner ID: <input type="text" name="ownerId" value=""><br>
  First Name: <input type="text" name="firstName" value=""><br>
  Last Name: <input type="text" name="lastName" value=""><br><br>
  Art dealer: <input type="radio" name="dealer" value="yes"><br>
  Private owner: <input type="radio" name="dealer" value="no" checked><br><br>
</form>
<button onclick="createParticipantInfo('Owner', cbCreateParticipantInfo)">Create Owner</button>
<div id="newParticipantInfo"></div>

<script src="script.js"></script>
