<link href="style.css" rel="stylesheet">

<h3>Sell art work</h3>
<br>Enter the ID of the art work you are selling, then click "Get Art Work" to get details</br>
<form id="getAsset">
  Art Work ID: <input type="text" name="assetId" value=""><br><br>
  <input type="button" onclick="getAssetInfo('ArtWork', callback)" value="Get Art Work">
</form>
<div id="assetInfo"></div>

<br>Enter these details, then click "Sell Art Work" to sell the art work</br>
<form id="sellAsset">
  Art Work ID: <input type="text" name="artId" value=""><br>
  Sell Amount: <input type="text" name="sellAmount" value=""><br>
  New Owner: <input type="text" name="newOwner" value=""><br><br>
</form>
<button onclick="transactAsset('SellArtWork', callback)">Sell Art Work</button>
<div id="sellAssetInfo"></div>

<script src="script.js"></script>
